{% load static %}
<header class="sticky-top navigation">
    <div class=container>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class=navbar-brand href="/"><img src="https://www.iitb.ac.in/sites/www.iitb.ac.in/themes/touchm/logo.png" style="height: 80px;" alt="logo"><span class="px-3 pt-4" style="font-size: xx-large; font-weight: 900;">Group 39</span></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
                <i class="ti-align-right h4 text-dark"></i></button>
            <div class="collapse navbar-collapse text-center" id=navigation>
                <ul class="navbar-nav mx-auto align-items-center">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/demo">Demo</a></li>
                </ul>
                <a href="/login" class="btn btn-sm btn-outline-primary ml-lg-4">Log In</a>
                <a href="/signup" class="btn btn-sm btn-primary ml-lg-4">Sign Up</a>
            </div>
        </nav>
    </div>
</header>