{%extends 'base.html'%}
{% load static %}


{% block content%}
<!-- banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-left">
        <h1 class="mb-4">AI Powered HR Process Optimization Tool</h1>
        <p class="mb-4">Step into the future of HR with our AI-driven ME781 project. Our Two-Phase HR Optimization Tool integrates Large
        Language Models (LLMs) for a revolutionary approach to resume analysis. In Phase 1, LLMs process resumes, extracting key
        insights. Phase 2 intelligently shortlists top candidates based on these insights, saving time and ensuring precision in
        talent acquisition.</p>
        <a href="/demo"><button class="btn btn-sm btn-primary">Try Now</button></a> <a href=""><button class="btn btn-sm btn-primary-secondary mx-3">Watch Demo</button></a>
      </div>
      <div class="col-lg-4 d-lg-block d-none">
        <img src="{%static 'images/banner.jpg'%}" alt="illustration" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Features of our project</h2>
    <div class="row">
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-panel mb-4"></i>
            <h3 class="card-title h4">Basic Startup</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-credit-card mb-4"></i>
            <h3 class="card-title h4">Account Bill</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-package mb-4"></i>
            <h3 class="card-title h4">Our Features</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-settings mb-4"></i>
            <h3 class="card-title h4">Theme Facility</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /topics -->

{% endblock %}