{%extends 'base.html'%}
{% load static %}


{% block content%}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label text-dark font-weight-medium">Job Title</label>
                    <input type="text" class="form-control" id="job_title">
                </div>
            
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-dark font-weight-medium">Job Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                </div>

                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <from>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-dark font-weight-medium">Suggested Job Description</label>
                    <textarea class="form-control border-default" id="exampleFormControlTextarea1" rows="12"></textarea>
                </div>

                <button type="submit" class="btn btn-sm btn-primary" >Accept Suggested</button>
                <button type="submit" class="btn btn-sm btn-outline-primary" >Accept Previous</button>

            </from>
        </div>
    </div>
</div>



{% endblock %}